._3utrN {
    width: 30px;
}
/* Armor description */
.new_pd {
    margin-top: 5px;
    color:#eee;
}
/* Hide old weapon perks in beta */
/*.ItemPerksList-m_perkInfo-2opoU > div, .ItemPerksList-m_perkInfo-2opoU > p{
    display: none;
}*/













