.wep_perk_main_container{
    display: flex;
    flex-direction: column;
    margin: 10px -10px;  /* -12px -10px;   */

    border-top: 1px solid #333;
}
.wep_perk_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid #333;
    padding: 6px 10px;
}
.description_container{
    order: 999;
    width: 100%;
}
.perk_container{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 1em;
}
.wep_perk_list :nth-last-child(1){
    margin-right: 0px;
}
.perk_container.active_perk, .perk_container.selected_perk{
    flex: 1;
}
/*      icon         */
.wep_perk_icon{
    width: calc(24 / 50 * var(--item-size));
    height: calc(24 / 50 * var(--item-size));
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    padding: 1px;
}
.wep_perk_icon img{
    height: 100%;
    width: 100%;
}
.perk_container.active_perk .wep_perk_icon{
    background-color: #4887ba;
}
.perk_container.selected_perk .wep_perk_icon{
    background-color: #e8a534;
}
/*       name       */
.perk_name{
    align-self: center;
    margin-left: 5px;
    display: none;
}
.perk_container.active_perk .perk_name{
    display: block;
}
.perk_container.selected_perk .perk_name{
    display: block;
}