.themeOptions {
   display: flex;
   flex-direction: column;
   justify-content: start;
}
.option {
   margin-left: -5px;
   padding: 3px 0 3px 5px;
   background-color: rgba(0, 0, 0, 0.2);
   cursor: pointer;
   &:hover {
      color: #e8a534;
      background-color: rgba(0, 0, 0, 0.4);
   }
}
.optionSelected {
   background-color: rgba(0, 0, 0, 0.4);
}
.name {
   margin-left: 5px;
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
}
.content {
   display: grid;
   grid-template-columns: auto auto auto auto;
   justify-content: start;
   row-gap: 5px;
   margin: 5px 0 5px 10px;

   input[type="range"] {
      margin-left: 5px;
   }
   select {
      padding: 1px 28px 1px 10px;
      height: unset;
   }
   span {
      grid-column: 1;
   }
   button {
      width: fit-content;
      margin-left: 5px;
      background-color: rgba(255, 255, 255, 0.2);
      border: none;
      border-radius: 3px;
      &:hover {
         background-color: #e8a534;
         color: black;
      }
   }
}
