.Clarity_armor_perk_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 6px 10px;
  background-color: #262626;
  margin: 0 -10px 7px -10px;
}

.Clarity_armor_perk_box .Clarity_perk_icon {
  width: calc(24 / 50 * var(--item-size));
  height: calc(24 / 50 * var(--item-size));
  transform: scale(1.4);
  margin-right: 7px;
  margin-left: 7px;
}

.Clarity_armor_perk_box .Clarity_perk_name {
  align-self: center;
  font-size: 14px;
  margin-left: 5px;
}

.Clarity_armor_perk_box .Clarity_perk_description {
  margin-top: 7px;
  width: 100%;
}
