._3utrN {
    width: 30px;
}
/* Armor description */
.new_pd {
    margin-top: 5px;
    color:#eee;
}
/* Hide old weapon perks in beta */
/*.ItemPerksList-m_perkInfo-2opoU > div, .ItemPerksList-m_perkInfo-2opoU > p{
    display: none;
}*/
#itmInfo tr:nth-child(even){
    width: 70%;
}


/*------------------------------------------------------------------------------------------------------------------*/

.Clarity_authorization_box{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 0%);
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    z-index: 99;
}
.Clarity_authorization_text, .Clarity_authorization_text{
    text-align: center;
    white-space: pre-wrap;
}
.Clarity_authorization_button{
    text-align: center;
    background-color: hsla(96, 80%, 56%, 0.46);
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
.Clarity_authorization_exit_button{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 15px;
    height: 15px;
}





