
.Clarity_extra_stats{
    margin: 10px;
    display: grid;
    grid-auto-rows: minmax(12px, auto);
    grid-template-columns: repeat(2, -webkit-min-content) 1fr;
    grid-template-columns: repeat(2, min-content) 1fr;
    gap: 4px 0;
}
.Clarity_extra_stat_container{
    font-size: xx-large;
    color:hsla(350, 100%, 50%, 0.5)
}
.Clarity_weapon_stats th{
    text-align: right;
}
.Clarity_weapon_stats{
    border-collapse: collapse;
    margin-top: 5px;
}