.Clarity_main_box{
    display: flex;
    flex-direction: column;
    margin: -12px -10px;  /* -12px -10px; */ /* 10px -10px; */

    border-top: 1px solid hsl(0, 0%, 20%);
}
.Clarity_perk_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid hsl(0, 0%, 20%);
    padding: 6px 10px;
}
.Clarity_perk{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 1em;
}
.Clarity_description{
    order: 999;
    width: 100%;
}
/* - - - - - - - - - - - - */
.Clarity_icon_container{
    width: calc(24 / 50 * var(--item-size));
    height: calc(24 / 50 * var(--item-size));
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    position: relative;
    padding: 1px;
}
.Clarity_icon_container img{
    height: 100%;
    width: 100%;
}
/* - - - - - - - - - - - - */
.Clarity_perk_list :nth-last-child(1){
    margin-right: 0px;
}
.Clarity_perk_name{
    align-self: center;
    margin-left: 5px;
    display: none;
}
/* - - - - - - - - - - - - */
/* - selected and active - */
.Clarity_perk.Clarity_selected, .Clarity_perk.Clarity_active{
    flex: 1;
}
/* - - - selected - - - - - */
.Clarity_perk.Clarity_selected .Clarity_icon_container{
    background-color: hsl(38, 80%, 56%);
}
.Clarity_perk.Clarity_selected .Clarity_perk_name{
    display: block;
}
/* - - - active  - - - - - */
.Clarity_perk.Clarity_active .Clarity_icon_container{
    background-color: hsl(207, 45%, 51%);
}
.Clarity_perk.Clarity_active .Clarity_perk_name{
    display: block;
}
/* - - - disable - - - - - */
.Clarity_perk.Clarity_active.Clarity_disable .Clarity_perk_name{
    display: none;
}
.Clarity_perk.Clarity_active.Clarity_disable{
    flex: none;
}
/* - - - - - - - - - - - - */
/* - - - armor - - - - - - */
/* - - - - - - - - - - - - */
.Clarity_armor_perk_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 6px 10px;
    background-color: hsl(0, 0%, 15%);
    margin: 0 -10px 7px -10px;
}
.Clarity_armor_perk_icon{
    width: calc(24 / 50 * var(--item-size));
    height: calc(24 / 50 * var(--item-size));
    transform: scale(1.4);
    margin-right: 7px;
    margin-left: 7px;
}
.Clarity_armor_perk_name{
    align-self: center;
    font-size: 14px;
    margin-left: 5px;
}
.Clarity_armor_perk_description{
    order: 999;
    width: 100%;
}
/* - - - - - - - - - - - - */
/* - - - extra stats - - - */
/* - - - - - - - - - - - - */
.Clarity_extra_stats{
    margin: 10px;
    display: grid;
    grid-auto-rows: minmax(12px, auto);
    grid-template-columns: repeat(2, -webkit-min-content) 1fr;
    grid-template-columns: repeat(2, min-content) 1fr;
    gap: 4px 0;
}
.Clarity_extra_stat_container{
    font-size: xx-large;
    color:hsla(350, 100%, 50%, 0.5)
}
.Clarity_weapon_stats th{
    text-align: right;
}
.Clarity_weapon_stats{
    border-collapse: collapse;
    margin-top: 5px;
}