 // place description will be in change to what ever you want
//--- colors
.CDB-pvp {
    color: hsl(0, 100%, 80%);
}
.CDB-pve {
    color: hsl(220deg, 100%, 70%);
}
.CDB-highlight {
    color: hsl(108, 100%, 70%);
}
.CDB-highlight_2 {
    color: hsl(300, 100%, 70%);
}
.CDB-highlight_3 {
    color: hsl(56, 100%, 70%);
}

//--- images
@mixin img_before {
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    content: '';
    margin-right: 3px;
    height: 10px;
}
.CDB-arc::before, .CDB-solar::before, .CDB-void::before, .CDB-stasis::before {
    background-size: 10px 10px;
    width: 10px;
}
.CDB-primary::before, .CDB-special::before, .CDB-heavy::before {
    background-size: 18px 20px;
    width: 13px;
}
// elements
.CDB-arc::before {
    background-image: url(https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_092d066688b879c807c3b460afdd61e6.png);
    @include img_before;
}
.CDB-solar::before {
    background-image: url(https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png);
    @include img_before;
}
.CDB-void::before {
    background-image: url(https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png);
    @include img_before;
}
.CDB-stasis::before {
    background-image: url(https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_530c4c3e7981dc2aefd24fd3293482bf.png);
    @include img_before;
}
// ammo
.CDB-primary::before {
    background-image: url(https://www.bungie.net/common/destiny2_content/icons/dc4bb9bcdd4ae8a83fb9007a51d7d711.png);
    @include img_before;
}
.CDB-special::before {
    background-image: url(https://www.bungie.net/common/destiny2_content/icons/b6d3805ca8400272b7ee7935b0b75c79.png);
    @include img_before;
}
.CDB-heavy::before {
    background-image: url(https://www.bungie.net/common/destiny2_content/icons/9fa60d5a99c9ff9cea0fb6dd690f26ec.png);
    @include img_before;
}

//--- random stilling
.CDB-center {
    text-align: center;
}
.CDB-spacer {
    padding-top: 5px;
}
.CDB-bold {
    font-weight: bold;
}
.CDB-bg {
    background-color: rgba(255, 255, 255, 0.17);
}

//--- makes table
.CDB-table {
    display: table;
    div {
        display: table-row;
        div {
            display: table-cell;
            padding: 1px 3px;
        }
    }
}

