.Clarity_weapon_perks_box {
    display: flex;
    flex-direction: column;
    border-top: 1px solid hsl(0, 0%, 20%);

    .Clarity_perk_list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        border-bottom: 1px solid hsl(0, 0%, 20%);
        padding: 6px 10px;
    }

    .Clarity_perk_list :nth-last-child(1){
        margin-right: 0px;
    }

    .Clarity_perk {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        margin-right: 1em;
    }

    .Clarity_icon_container {
        width: calc(24 / 50 * var(--item-size));
        height: calc(24 / 50 * var(--item-size));
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: 50%;
        position: relative;
        padding: 1px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .Clarity_perk_name {
        align-self: center;
        margin-left: 5px;
        display: none;
    }

    .Clarity_selected {
        flex: 1;

        .Clarity_icon_container {
            background-color: hsl(38, 80%, 56%);
        }

        .Clarity_perk_name {
            display: block;
        }
    }

    .Clarity_active {
        flex: 1;

        .Clarity_icon_container {
            background-color: hsl(207, 45%, 51%);
        }

        .Clarity_perk_name {
            display: block;
        }
    }

    .Clarity_disable {
        flex: none;

        .Clarity_perk_name{
            display: none;
        }
    }
    .Clarity_description {
        order: 999;
        width: 100%;
        margin-top: 3px;
    }
}

.ItemStats-m_stats-yaOm5 {
    .clarity_stat_name {
        grid-column: 1;
        text-align: right;
        margin-right: 8px;
    }
    .clarity_stat_value {
        grid-column: 2;
        text-align: right !important;
        font-variant-numeric: tabular-nums;
    }
    .clarity_stat_bar {
        margin-left: 8px;
        grid-column: -2 / -1;
        background-color: #333;
        display: flex;
        .clarity_stat_bar_base {
            background-color: white;
        }
    }
    svg {
        margin-left: 8px;
    }
}


.Clarity_weapon_stat_name{
    grid-column: 1;
    text-align: right;
    margin-right: 8px;
}
.Clarity_weapon_stat_value{
    grid-column: 2;
    text-align: right;
}
.Clarity_compare_stat_name{
    padding-right: 4px !important;
    padding-left: 0px !important;
}